.navbar{
    color: #000;
font-family: Inter;
font-size: 500px;
font-style: normal;
font-weight: 800;
line-height: 124.023%; /* 620.114px */
letter-spacing: -10px;
text-align: center;
text-justify: 34%;
}
.navbar{
    color: #000;
font-family: Inter;
font-size: 300px;
font-style: normal;
font-weight: 800;
line-height: 124.023%; /* 372.068px */
letter-spacing: -6px;
}